<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Weather Form</title>
  </head>
</html>

<body>
  <form action="/raport" method="get">
    <label for="start">Plus hours start</label>
    <input type="text" id="start" name="start" />
    <label for="end">Plus hours end</label>
    <input type="text" id="end" name="end" />

    <label for="key">API key:</label>
    <input type="text" id="key" name="key" />

    <button type="submit">Submit</button>
  </form>
</body>
